@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    font-family: 'Sofia Sans', sans-serif;
}

#cardCep{
    margin: 10px;
    margin-top: 30px;
}

#cardWeather{
    margin: 10px;
    margin-top: 30px;
}

#campocep, #campocidade{
    outline: none;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: center;
}

#formCEP{
    display: flex;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
}

#cep, #logradouro, #bairro, #localidade, #uf{
    margin-left: 1px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}

.form-group{
    margin-left: 20px;
}

#campocidade{
    justify-content: center;
    text-align: center;
}

#formWeather{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

#name, #temp_min, #temp_max, #feelsLike{
    margin-left: 1px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}